@media screen and (max-width: 768px) {
  .hidden-on-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 769px) {
  .hidden-on-desktop {
    display: none !important;
  }
}
.rur:not(:empty):after {
  content: ' \20BD ';
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#countdown-comp {
  max-width: 1370px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#countdown-comp > * {
  max-width: 100%;
}
#countdown-comp h2,
#countdown-comp h3 {
  margin: 0 auto;
}
#countdown-comp > *:nth-child(n+2) {
  margin-top: 3%!important;
}
@media screen and (max-width: 768px) {
  #countdown-comp > *:nth-child(n+2) {
    margin-top: 5%;
  }
}
#countdown-comp .countdown-widget {
  display: flex;
  margin: auto;
}
#countdown-comp .countdown-widget [data-units] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5em;
}
#countdown-comp .countdown-widget [data-units] > * {
  max-width: 100%;
}
#countdown-comp .countdown-widget [data-units].insignificant:not(.always-visible) {
  display: none!important;
}
#countdown-comp .countdown-widget [data-units] .couple {
  display: flex;
}
#countdown-comp .countdown-widget [data-units] .couple .flipper-stack {
  position: relative;
  width: 0.8em;
  height: 1em;
  margin: 0 1px;
  font-size: 9vw;
}
@media screen and (min-width: 1440px) {
  #countdown-comp .countdown-widget [data-units] .couple .flipper-stack {
    font-size: 129.6px;
  }
}
@media screen and (max-width: 768px) {
  #countdown-comp .countdown-widget [data-units] .couple .flipper-stack {
    font-size: 10vw;
  }
}
@media screen and (max-width: 576px) {
  #countdown-comp .countdown-widget [data-units] .couple .flipper-stack {
    font-size: 11vw;
  }
}
#countdown-comp .countdown-widget [data-units] .couple .flipper-stack .flipper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #008DCC;
  transform: translateZ(0);
}
#countdown-comp .countdown-widget [data-units] .couple .flipper-stack .flipper.flip-out:before {
  transform: perspective(300px) rotateX(-90deg);
}
#countdown-comp .countdown-widget [data-units] .couple .flipper-stack .flipper.flip-in {
  z-index: 0;
}
#countdown-comp .countdown-widget [data-units] .couple .flipper-stack .flipper.flip-in:after {
  transform: perspective(300px) rotateX(90deg);
}
#countdown-comp .countdown-widget [data-units] .couple .flipper-stack .flipper:before,
#countdown-comp .countdown-widget [data-units] .couple .flipper-stack .flipper:after {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  content: attr(data-digit);
  text-align: center;
  background-color: #006FBB;
  overflow: hidden;
}
#countdown-comp .countdown-widget [data-units] .couple .flipper-stack .flipper:before {
  top: 0;
  line-height: 1;
  transform-origin: bottom;
  transform: perspective(300px);
  border-radius: 0.08em 0.08em 0 0;
  transition: transform 0.25s ease-in;
  box-shadow: inset 0 -0.2em 0.4em rgba(0, 0, 0, 0.4);
}
#countdown-comp .countdown-widget [data-units] .couple .flipper-stack .flipper:after {
  top: 50%;
  line-height: 0;
  margin-top: 1px;
  transform-origin: top;
  transform: perspective(300px);
  border-radius: 0 0 0.08em 0.08em;
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 0.2em 0.4em rgba(0, 0, 0, 0.5);
}
#countdown-comp .countdown-widget [data-units] .label {
  color: black;
  font-weight: normal;
  margin-top: 1em;
}
