@wide-breakpoint: 1440px;
@mobile-breakpoint: 768px;
@narrow-breakpoint: 576px;

@content-padding: 35px;

.reset() {
	position: static;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	background: none;
}

.bbox() {
	&, & * {
		box-sizing: border-box;
	}
}

.interactive() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:active {
		-webkit-transform: translateY(2px);
		-moz-transform: translateY(2px);
		-ms-transform: translateY(2px);
		-o-transform: translateY(2px);
		transform: translateY(2px);
	}
}


.abs100x100() {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.proportional(@width2height-ratio) {
	position: relative;
	&:before {
		content: '';
		display: block;
		padding-top: 1/@width2height-ratio * 100%;
	}
	& > * {
		.abs100x100;
	}
}

.transit(@what: all, @duration: 0.5s) {
	transition+: @what @duration;
}

.trsall(@duration: 0.5s) {
	.transit(@duration: @duration);
}

.centering() {
	display: table !important;
	width: 100%;
	height: 100%;

	& > *:first-child {
		width: 100%;
		height: 100%;
		display: table-cell;
		text-align: center;
		vertical-align: middle;

		& > *:first-child {
			display: inline-block;
		}
	}
}

.hidden-on-mobile {
	@media screen and (max-width: @mobile-breakpoint) {
		display: none !important;
	}
}

.hidden-on-desktop {
	@media screen and (min-width: (@mobile-breakpoint + 1)) {
		display: none !important;
	}
}

.fluid-fontsize(@fluid, @max-breakpoint: @wide-breakpoint) {
	font-size: @fluid;
	@media screen and (min-width: @max-breakpoint) {
		font-size: unit(unit(@fluid) * unit(@max-breakpoint) / 100, px);
	}
}

.rur:not(:empty):after {
	content: ' \20BD ';
}

.rounded-corners-overflow-fix() {
	-webkit-mask-image: -webkit-radial-gradient(white, black);
}

.flex-column() {
	display: flex;
	flex-direction: column;
	> * {
		max-width: 100%;
	}
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.responsive-width() {
	max-width: @wide-breakpoint - 2 * @content-padding;
	margin: auto;
	@media screen and (max-width: @wide-breakpoint) {
		max-width: 1130px;
	}
}




@blue-deep: #006FBB;
@blue-lite: #008DCC;
@orange-deep: #FFAE00;
@orange-lite: #FFC900;
@green: #A6AD00;
@red: #F60400;

@flipper-bg: #333;
@flipper-fg: white;

#countdown-comp {
	max-width: 1370px;
	margin: auto;
	.flex-column;
	align-items: center;
	text-align: center;
	h2, h3 {
		margin: 0 auto;
	}
	> *:nth-child(n+2) {
		margin-top: 3%!important;
		@media screen and (max-width: @mobile-breakpoint) {
			margin-top: 5%;
		}
	}
	.countdown-widget {
		display: flex;
		margin: auto;
		//background-color: #abc;
		[data-units] {
			.flex-column;
			align-items: center;
			margin: 0 .5em;
			&.insignificant:not(.always-visible) {
				display: none!important;
			}
			.couple {
				display: flex;
				.flipper-stack {
					position: relative;
					width: .8em;
					height: 1em;
					margin: 0 1px;
					.fluid-fontsize(9vw);
					@media screen and (max-width: @mobile-breakpoint) {
						font-size: 10vw;
					}
					@media screen and (max-width: @narrow-breakpoint) {
						font-size: 11vw;
					}
					.flipper {
						.abs100x100;
						z-index: 1;
						//color: white;
						color: @blue-lite;
						transform: translateZ(0);

						&.flip-out {
							&:before {
								transform: perspective(300px) rotateX(-90deg) translateZ(0);
							}
						}

						&.flip-in {
							z-index: 0;

							&:after {
								transform: perspective(300px) rotateX(90deg) translateZ(0);
							}
						}

						&:before, &:after {
							position: absolute;
							width: 100%;
							height: 50%;
							left: 0;
							content: attr(data-digit);
							text-align: center;
							//background-color: #333;
							background-color: @blue-deep;
							overflow: hidden;
						}

						&:before {
							top: 0;
							line-height: 1;
							transform-origin: bottom;
							transform: perspective(300px);
							border-radius: .08em .08em 0 0;
							transition: transform .25s ease-in;
							box-shadow: inset 0 -0.2em 0.4em rgba(0, 0, 0, .4);
						}

						&:after {
							top: 50%;
							line-height: 0;
							margin-top: 1px;
							transform-origin: top;
							transform: perspective(300px);
							border-radius: 0 0 .08em .08em;
							transition: transform .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
							box-shadow: inset 0 0.2em 0.4em rgba(0, 0, 0, .5);
						}
					}
				}
			}
			.label {
				color: black;
				font-weight: normal;
				margin-top: 1em;
			}
		}
	}

}